.banner {
    img {
        width: 100%;
        margin-top: 4.1rem;
        object-fit: cover;
    }
}


.global {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin: 5rem 0rem;

    .container {
        text-align: center;
        font-family: 'Exo 2' !important;

        h1 {
            font-weight: 200;
            font-size: 2.5rem;
            color: var(--white);
            padding: 1rem;
            background-color: var(--gray-900);
        }

        h3 {
            font-family: minhaFonte !important;
            font-size: 7rem;
            margin-top: -2rem;
            font-weight: 400;
            color: var(--gray-850);
        }

        img {
            width: 500px;
        }
    }

    .text {
        p {
            width: 500px;
            margin-top: 8rem;
            font-weight: 200;
            font-size: 1.8rem;
            color: var(--gray-300);
            font-family: 'Exo 2' !important;
            text-align: justify;
        }
    }
}


.title {
    text-align: center;
    margin: 5rem;

    h1 {
        font-weight: 200;
        font-size: 2.5rem;
        color: var(--gray-300);
        font-family: 'Exo 2' !important;
    }

    p {
        margin: 0 auto;
        width: 150px;
        border-bottom: 2px solid var(--gray-900);
    }
}


.cardImg {
    font-family: 'Exo 2' !important;
    margin: 5rem 2rem;

    .card {
        display: grid;
        grid-template-columns: 0.3fr 0.3fr 0.3fr;
        justify-content: center;
        text-align: center;

        img {
            border-bottom: 2px solid var(--gray-300);
            padding: 1rem;
            width: 260px;
            height: 150px;
        }

        h1 {
            font-weight: bold;
            font-size: 1.5rem;
            color: var(--gray-300);

        }

        p {
            font-weight: 200;
            font-size: 1.5rem;
            margin-bottom: 2rem;
        }

    }

    .cardLast {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10rem;
        text-align: center;

        img {
            border-bottom: 2px solid var(--gray-300);
            padding: 1rem;
            width: 260px;
        }


        h1 {
            font-weight: bold;
            font-size: 1.5rem;
            color: var(--gray-300);

        }

        p {
            font-weight: 200;
            font-size: 1.5rem;
            margin-bottom: 2rem;
        }
    }
}

@media(max-width: 1200px) {
    .global {
        .container {
            img {
                width: 400px;
            }
        }

        .text {
            p {
                width: 400px;
                margin-top: 10rem;
                font-size: 1.5rem;
            }
        }
    }
}





@media(max-width: 1000px) {


    .cardImg {
        .card {
            img {
                padding: 1rem;
                width: 200px;
                height: 130px;
            }
        }

        .cardLast {
            gap: 5rem;

            img {
                border-bottom: 2px solid var(--gray-300);
                padding: 1rem;
                width: 200px;
                height: 130px;
            }
        }
    }
}

@media(max-width: 900px) {
    .global {
        flex-direction: column;

        .container {
            img {
                width: 400px;
            }
        }

        .text {
            p {
                width: 380px;
                margin-top: 0rem;
                font-size: 1.2rem;
            }
        }
    }

}


@media(max-width: 800px) {

    .cardImg {
        .card {
            h1 {
                font-size: 1rem;
            }

            p {
                font-size: 0.8rem;
            }

        }

        .cardLast {
            gap: 0rem;

            img {
                border-bottom: 2px solid var(--gray-300);
                padding: 1rem;
                width: 200px;
                height: 130px;
            }

            h1 {
                font-size: 1rem;
            }

            p {
                font-size: 0.8rem;
                margin-bottom: 2rem;
            }
        }

    }

}


@media(max-width: 700px) {

    .banner {
        img {
            margin-top: 3.8rem;
        }
    }

    .title {
        margin: 0rem;
    }

    .cardImg {
        margin: 2rem 0rem;

        .card {
            grid-template-columns: 0.3fr 0.3fr;
            gap: 2rem;

            img {
                width: 220px;
                height: 130px;
            }
        }

        .cardLast {
            display: grid;
            grid-template-columns: 0.3fr 0.3fr;
            gap: 2rem;
            img {
                width: 220px;
                height: 130px;
            }
        }
    }
}


@media(max-width: 500px) {

    .cardImg {
        .card {
            grid-template-columns: 0.3fr 0.3fr;
            gap: 1rem;

            img {
                width: 180px;
                height: 100px;
            }
        }

        .cardLast {
            gap: 1rem;

            img {
                width: 180px;
                height: 100px;
            }
        }
    }
}



@media(max-width: 400px) {

    .global {

        .container {
            h1 {
                font-size: 2rem;
            }

            h3 {
                font-size: 5rem;
            }
            img {
                width: 350px;
            }
        }

        .text {
            p {
                width: 320px;
            }
        }
    }


    .cardImg {
        .card {
            img {
                width: 150px;
                height: 90px;
            }
        }

        .cardLast {
            img {
                width: 150px;
                height: 90px;
            }
        }
    }
}