.body {
    background-color: var(--gray-50);
}

.global {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    width: 800px;
    padding-bottom: 5rem;

    .carousel {
        img {
            width: 800px;
            height: 400px;
        }
    }
    
}

@media(max-width: 1000px){
    .global {
        width: 600px;
        .carousel {
            img {
                width: 600px;
                height: 350px;
            }
        }
        
    }
}


@media(max-width: 700px){
    .global {
        width: 400px;
        .carousel {
            img {
                width: 400px;
                height: 300px;
            }
        }
        
    }
}

@media(max-width: 500px){
    .global {
        width: 350px;
        .carousel {
            img {
                width: 350px;
                height: 250px;
            }
        }
        
    }
}